@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post" enctype="multipart/form-data">
        <p>Want to know which products are discontinued? </p>
        <input type="hidden" asp-for="DisCoutProducts" value="Submit">
        <input type="submit" value="Submit">
    </form>
    <br/><br/>
    <p>@DisContProducts.disContProducts(@Model.DisCoutProducts)</p>
</div>

<div class="text-center">
    <form method="post" enctype="multipart/form-data">
        Enter a country:
        <input type="text" asp-for="ListCustomersInCountry">
        <input type="submit" value="Submit">
    </form>
    <br><br>
    <p>@CustomersInCountry.customersInCountry(@Model.ListCustomersInCountry)</p>
</div>